body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tbody {
  height: 300px;
}
